<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
  .slideContainer{
    width:90%;
    nargin-top:200px;
  }

  p {
    margin-top:50px;
    opacity:0.7;
  }


  .slider{
    -webkit-appearance:none;
    width:100%;
    height: 20px;
    background: grey;
    outline: none;
    opacity:0.7;
    -webkit-appearance:0.2s;
    transition:  opacity 0.2s;
    border-radius: 12px;

  }

  /* .slider:after {
  content: '100';
  color:black;
  font-size: 2rem;
  position: absolute;
  left: 80%
  top:20%;
}

.slider:before {
content: '0';
color:black;
font-size: 2rem;
position: absolute;
left: 80%
top:20%;
} */

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance:none;
  appeareance: none;
  width:30px;
  height:30px;
  background: black;
  border-radius: 50%;
  cursor:pointer;
}

.slider::-moz-range-thumb {
  width:30px;
  height:30px;
  background: black;
  border-radius: 50%;
  cursor:pointer;
}


</style>




<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <h3>Top 10 Cryptocurrencies</h3>
      </div>
      <br />


      <table  class="table">
        <thead>
          <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Market Cap</th>
          </tr>
        </thead>

        <tbody>
          {% for k in tablesinfo %}
          <tr>
            {% for i in k.items %}
            <td>{{ i.1 }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="row">
        <div class="col">
          <div class="card card-body">

            <h6>Cryptocurrency</h6>
            {% if error %}
            {{ error }}
            <br />
            <br />
            {% endif %}

            {% csrf_token %}
            <form action="" method="GET">
              <!-- {% csrf_token %} -->
              <textarea id="search_value" cols="40" rows="1" name="crypto_ticket"></textarea>
              <!-- <br />
              <br /> -->

              <div class="slideContainer">
                <h6>Number of Days</h6>
                <p>Select the number for days to be used in decomposition and rolling statistics</p>
                <input type="range" min="1" max="365"  value="1" id="myRange" name="slider" class="slider">
                <!-- <br /> -->
                <p># of Days: <span id="value"></span></p>

                <div class="slideContainer">
                  <h6>Validation Period</h6>
                  <p>Select the number for days to be used in the validation period</p>
                  <input type="range" min="1" max="100"  value="1" id="myRange1" name="slider1" class="slider">
                  <!-- <br /> -->
                  <p>Validation Period: <span id="value1"></span></p>
              </div>

              <div class="slideContainer">
                <h6>Forecasting Period</h6>
                <p>Select the number for days to forecast</p>
                <input type="range" min="1" max="100"  value="1" id="myRange2" name="slider2" class="slider">
                <!-- <br /> -->
                <p>Forecasting period: <span id="value2"></span></p>

              <input id="inputbutton" type="submit" value="Submit" style="float: right;" />
            </form>
          </div>
        </div>



        <script>
          var slider = document.getElementById("myRange");
          var output = document.getElementById("value");

          output.innerHTML = slider.value;


          slider.oninput = function() {
            output.innerHTML = this.value;

          }

          var slider1 = document.getElementById("myRange1");
          var output1 = document.getElementById("value1");

          output1.innerHTML = slider1.value;


          slider1.oninput = function() {
            output1.innerHTML = this.value;

          }

          var slider2 = document.getElementById("myRange2");
          var output2 = document.getElementById("value2");

          output2.innerHTML = slider2.value;


          slider2.oninput = function() {
            output2.innerHTML = this.value;

          }

        </script>




      </nav>
