{% extends 'base.html' %}

{% load static %}}
{% block content %}


<style>
  .table{
    display:block;
  }

  .two{
    display:none;
  }

  .three{
    display:none;
  }

  .four{
      display:none;
  }


  .five{
    display:none;
  }

  .six{
    display:none;
  }

  .seven{
    display:none;
  }


  .acf_and_pacf_plots{
    display:none;
  }

  .adfuller_test{
    display:none;
  }

  .arima_prediction_graph{
    display:none;
  }

  .arima_forecast_graph{
    display:none;
  }

  .prophet_prediction_graph{
    display:none;
  }

  .prophet_forecast_graph{
    display:none;
  }


</style>

<div id="dashboard_section">
  {% if get_crypto_info %}
  <h5>Chosen Cryptocurrency</h5>
  <table  class="table">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Info</th>
      </tr>
    </thead>

    <tbody>
      {% for k in get_crypto_info %}
      <tr>
        {% for i in k.items %}
        <td>{{ i.1 }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>Please click on the button in the top right to select graphs</p>

  {% else %}
  <p>No cryptocurrency was chosen.</p>
  {% endif %}

</div>



<div id='price_sma_volume_chart_graph' class="two">
  {% if price_sma_volume_chart %}
  {{ price_sma_volume_chart|safe }}
  {% else %}
  <p>No graph was provided.</p>
  {% endif %}
</div>


<div id='candle_stick_graph' class="three">
  {% if candlestick_moving_average %}
  {{ candlestick_moving_average|safe }}
  {% else %}
  <p>No graph was provided.</p>
  {% endif %}
</div>




<div id='hist_box_pct_change_graph' class="four">
  {% if hist_box_pct_change %}
  {{ hist_box_pct_change|safe }}
  {% else %}
  <p>No graph was provided.</p>
  {% endif %}
</div>



<div id='rolling_m_sd_graph' class="five">
  {% if rolling_m_sd %}
  {{ rolling_m_sd|safe }}
  {% else %}
  <p>No graph was provided.</p>
  {% endif %}
</div>


<div id='returns_chart' class="six">
  {% if returns_chart %}
  {{ returns_chart|safe }}
  {% else %}
  <p>No graph was provided.</p>
  {% endif %}

  </div>

  <div id='decomposition_chart' class="seven">

  {% if decomposition_chart %}
  {{ decomposition_chart|safe }}
  {% else %}
  <p>No graph was provided.</p>
  {% endif %}

</div>

<div id='acf_and_pacf_plots' class="acf_and_pacf_plots">

{% if acf_and_pacf_plots %}
{{ acf_and_pacf_plots|safe }}
{% else %}
<p>No graph was provided.</p>
{% endif %}

</div>


<!-- <div id="adfuller_test" class="adfuller_test">
  {% if adfuller_test %}
  <h5>Adfuller Test</h5>
  <table  class="table">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Info</th>
      </tr>
    </thead>

    <tbody>
      {% for k in adfuller_test %}
      <tr>
        {% for i in k.items %}
        <td>{{ i.1 }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <p>Adfuller Test was not conducted.</p>
  {% endif %}

</div> -->



<div id='arima_prediction_graph' class="arima_prediction_graph">
  {% if arima_prediction %}
  {{ arima_prediction|safe }}
  {% else %}
  <p>No graph was provided.</p>
  {% endif %}
</div>

<div id='arima_forecast_graph' class="arima_forecast_graph">
  {% if arima_forecast %}
  {{ arima_forecast|safe }}
  {% else %}
  <p>No graph was provided.</p>
  {% endif %}
</div>


<div id='prophet_prediction_graph' class="prophet_prediction_graph">
  {% if prophet_prediction %}
  {{ prophet_prediction|safe }}
  {% else %}
  <p>No graph was provided.</p>
  {% endif %}
</div>

<div id='prophet_forecast_graph' class="prophet_forecast_graph">
  {% if prophet_forecast %}
  {{ prophet_forecast|safe }}
  {% else %}
  <p>No graph was provided.</p>
  {% endif %}
</div>

{% endblock %}
