{% extends 'base.html' %}

{% load static %}}
{% block content %}


<div id="dashboard-section"></div>



<!--chart for price_sma_volume_chart -->
<div id='price_sma_volume_chart_graph'>
  {% if price_sma_volume_chart %}
  {{ price_sma_volume_chart|safe }}
  {% else %}
  <p>No graph was provided.</p>
  {% endif %}
</div>


<!--chart for candle_stick graph -->
<div id='candle_stick_graph'>
  {% if candle_stick %}
  {{ candle_stick|safe }}
  {% else %}
  <p>No graph was provided.</p>
  {% endif %}
</div>



<!--chart for hist_box_pct_change graph -->
<div id='hist_box_pct_change_graph'>
  {% if hist_box_pct_change %}
  {{ hist_box_pct_change|safe }}
  {% else %}
  <p>No graph was provided.</p>
  {% endif %}
</div>


<!--chart for rolling_m_sd graph -->
<div id='rolling_m_sd_graph'>
  {% if rolling_m_sd %}
  {{ rolling_m_sd|safe }}
  {% else %}
  <p>No graph was provided.</p>
  {% endif %}
</div>


{% endblock %}
